table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

thead th {
    background-color: #b51b1b;
    color: #ffffff;
    padding: 10px;
}

tbody tr:nth-child(1) td {
    background-color: #ea9191;
}

tbody tr:nth-child(2) td {
    background-color: #fbdcdc;
}

tbody tr:nth-child(3) td {
    background-color: #ebebeb;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 8px;
}